.idea
.nyc_output
coverage
dist
dist/lib
dist-test
gh-pages
lib
lib-example
lib-test
node_modules
*.as
*.iml
src/**/*.js
src/**/*.js.map
test/**/*.js
test/**/*.js.map
npm-debug.log
package-lock.json
yarn-error.log