/.idea
/.nyc_output
/.vscode
/coverage
/dist
/dist-test
/docs
/example
/lib-test
/not-ported-extensions
/src
/static
/test
/transpiled-code
/typings
CODE_OF_CONDUCT.md
CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
karma.conf.js
package-lock.json
tsconfig.example.json
tsconfig.json
tsconfig.test.json
tslint.example.json
tslint.json
tslint.test.json
webpack.config.js
webpack.example.config.js
yarn.lock
.auditignore
.editorconfig
.gitignore
.istanbul.yml
.npmignore
.prettierrc
.publishrc
.travis.yml